@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --main-color: #ffc107;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Utility */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Hero Section */
.hero {
  background: url(img/hero.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.hero::before {
  content: "";
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 100%;
  opacity: 0.7;
}

.hero > * {
  z-index: 10;
}

.navbar .links li a:hover {
  color: var(--main-color);
}

/* Skill */
#skills .card:hover {
  background-color: #333;
  color: var(--main-color);
}

/* Contact US */
#contact-us {
  background: url(img/contactus-bg.jpg) no-repeat center center/cover;
}

/* Testimonials */
#testimonials {
  background: url(img/yellow.jpg) no-repeat center center/cover;
}
